# Anthropic API ключ для запуску Claude Code всередині контейнера
ANTHROPIC_API_KEY=

# Порт для Express сервера
PORT=

# Log level (debug, info, warn, error)
LOG_LEVEL=info

CLIENT_URL=

MONGODB_URI=

GOOGLE_CLIENT_ID= 

JWT_SECRET=
JWT_EXPIRES_IN=
